In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

# Setting to make numbers easier to read on display
pd.options.display.float_format = '{:20.2f}'.format

# Show all columns on output
pd.set_option('display.max_columns', 999)

### Data Exploration

In [42]:
retail_df = pd.read_excel("online_retail_II.xlsx", sheet_name = 0)

retail_df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.00,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.00,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.00,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.00,United Kingdom

In [43]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [44]:
retail_df.describe()

                  Quantity                Price          Customer ID
count            525461.00            525461.00            417534.00
mean                 10.34                 4.69             15360.65
std                 107.42               146.13              1680.81
min               -9600.00            -53594.36             12346.00
25%                   1.00                 1.25             13983.00
50%                   3.00                 2.10             15311.00
75%                  10.00                 4.21             16799.00
max               19152.00             25111.09             18287.00

In [45]:
retail_df.describe(include ='O')

        Invoice StockCode                         Description         Country
count    525461    525461                              522533          525461
unique    28816      4632                                4681              40
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq        675      3516                                3549          485852

In [46]:
# Taking a look at Null Customer Id

retail_df[retail_df["Customer ID"].isna()].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom
578,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom
1055,489548,22271,FELTCRAFT DOLL ROSIE,1,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1056,489548,22254,FELT TOADSTOOL LARGE,12,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1057,489548,22273,FELTCRAFT DOLL MOLLY,3,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1058,489548,22195,LARGE HEART MEASURING SPOONS,1,2009-12-01 12:32:00,1.65,NaN,United Kingdom

In [47]:
# Checking Negative Values in Quantity

retail_df[retail_df["Quantity"] < 0].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.00,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.00,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.00,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
183,C489449,21871,SAVE THE PLANET MUG,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
184,C489449,84946,ANTIQUE SILVER TEA GLASS ETCHED,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
185,C489449,84970S,HANGING HEART ZINC T-LIGHT HOLDER,-24,2009-12-01 10:33:00,0.85,16321.00,Australia
186,C489449,22090,PAPER BUNTING RETRO SPOTS,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
196,C489459,90200A,PURPLE SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.00,United Kingdom

In [48]:
retail_df["Invoice"] = retail_df["Invoice"].astype("str")
retail_df[retail_df["Invoice"].str.match("^\\d{6}$") == False]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.00,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.00,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.00,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605.00,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329.00,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329.00,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329.00,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.00,United Kingdom

In [49]:
# Checking If only C (Cancellation) is the only Letter in Invoice

retail_df["Invoice"].str.replace("[0-9]", "", regex = True).unique()

array(['', 'C', 'A'], dtype=object)

In [50]:
# Checking what A refers to in Invoice

retail_df[retail_df["Invoice"].str.startswith("A")]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom

In [51]:
# fetching all the unique stockcodes

retail_df["StockCode"] = retail_df["StockCode"].astype("str")
retail_df[(retail_df["StockCode"].str.match("^\\d{5}$") == False) & (retail_df["StockCode"].str.match("^\\d{5}[a-zA-Z]+$") == False)]["StockCode"].unique()

array(['POST', 'D', 'DCGS0058', 'DCGS0068', 'DOT', 'M', 'DCGS0004',
       'DCGS0076', 'C2', 'BANK CHARGES', 'DCGS0003', 'TEST001',
       'gift_0001_80', 'DCGS0072', 'gift_0001_20', 'DCGS0044', 'TEST002',
       'gift_0001_10', 'gift_0001_50', 'DCGS0066N', 'gift_0001_30',
       'PADS', 'ADJUST', 'gift_0001_40', 'gift_0001_60', 'gift_0001_70',
       'gift_0001_90', 'DCGSSGIRL', 'DCGS0006', 'DCGS0016', 'DCGS0027',
       'DCGS0036', 'DCGS0039', 'DCGS0060', 'DCGS0056', 'DCGS0059', 'GIFT',
       'DCGSLBOY', 'm', 'DCGS0053', 'DCGS0062', 'DCGS0037', 'DCGSSBOY',
       'DCGSLGIRL', 'S', 'DCGS0069', 'DCGS0070', 'DCGS0075', 'B',
       'DCGS0041', 'ADJUST2', '47503J ', 'C3', 'SP1002', 'AMAZONFEE'],
      dtype=object)

In [52]:
# Taking a look at different type of stock code
# Searching for Null values, Negative quantity or anything out of the ordinary

Scode = ['POST', 'D', 'DCGS', 'DOT', 'M', 'C2', 'BANK CHARGES', 'TEST', 'gift',\
        'PADS', 'ADJUST', 'm', 'S', 'B', '47503J ', 'C3', 'SP1002', 'AMAZONFEE']

for code in Scode:
    stock_analysis = retail_df[retail_df["StockCode"].str.contains(f"^{code}", case = False)]
    print(stock_analysis)

        Invoice StockCode Description  Quantity         InvoiceDate  \
89       489439      POST     POSTAGE         3 2009-12-01 09:28:00
126      489444      POST     POSTAGE         1 2009-12-01 09:55:00
173      489447      POST     POSTAGE         1 2009-12-01 10:10:00
625      489526      POST     POSTAGE         6 2009-12-01 11:50:00
927     C489538      POST     POSTAGE        -1 2009-12-01 12:18:00
...         ...       ...         ...       ...                 ...
522916   537967      POST     POSTAGE         1 2010-12-09 11:31:00
522930   537995      POST     POSTAGE         2 2010-12-09 11:39:00
522974   538003      POST     POSTAGE         8 2010-12-09 12:05:00
523064   538008      POST     POSTAGE         5 2010-12-09 12:17:00
524491   538093      POST     POSTAGE         5 2010-12-09 14:49:00

                      Price          Customer ID         Country
89                    18.00             12682.00          France
126                  141.00             12636.00             USA
173                  130.00             12362.00         Belgium
625                   18.00             12533.00         Germany
927                    9.58             15796.00  United Kingdom
...                     ...                  ...             ...
522916                18.00             12494.00          France
522930                18.00             12712.00         Germany
522974                18.00             12429.00         Denmark
523064                18.00             12683.00          France
524491                18.00             12682.00          France

[865 rows x 8 columns]
        Invoice StockCode        Description  Quantity         InvoiceDate  \
735     C489535         D           Discount        -1 2009-12-01 12:11:00
736     C489535         D           Discount        -1 2009-12-01 12:11:00
2377     489597  DCGS0058   MISO PRETTY  GUM         1 2009-12-01 14:28:00
2378     489597  DCGS0068  DOGS NIGHT COLLAR         1 2009-12-01 14:28:00
2379     489597       DOT     DOTCOM POSTAGE         1 2009-12-01 14:28:00
...         ...       ...                ...       ...                 ...
524272   538071       DOT     DOTCOM POSTAGE         1 2010-12-09 14:09:00
524887   538148       DOT     DOTCOM POSTAGE         1 2010-12-09 16:26:00
525000   538149       DOT     DOTCOM POSTAGE         1 2010-12-09 16:27:00
525126   538153       DOT     DOTCOM POSTAGE         1 2010-12-09 16:31:00
525147   538154       DOT     DOTCOM POSTAGE         1 2010-12-09 16:35:00

                      Price          Customer ID         Country
735                    9.00             15299.00  United Kingdom
736                   19.00             15299.00  United Kingdom
2377                   0.83                  NaN  United Kingdom
2378                   8.65                  NaN  United Kingdom
2379                 647.19                  NaN  United Kingdom
...                     ...                  ...             ...
524272               885.94                  NaN  United Kingdom
524887               547.32                  NaN  United Kingdom
525000               620.68                  NaN  United Kingdom
525126               822.94                  NaN  United Kingdom
525147                85.79                  NaN  United Kingdom

[949 rows x 8 columns]
       Invoice  StockCode                   Description  Quantity  \
2377    489597   DCGS0058              MISO PRETTY  GUM         1
2378    489597   DCGS0068             DOGS NIGHT COLLAR         1
8371    490074   DCGS0004    HAYNES CAMPER SHOULDER BAG         1
8372    490074   DCGS0058              MISO PRETTY  GUM         1
8373    490074   DCGS0076  SUNJAR LED NIGHT NIGHT LIGHT         1
...        ...        ...                           ...       ...
466308  533348   DCGSSBOY                BOYS PARTY BAG         1
478086  534289   DCGS0003           BOXED GLASS ASHTRAY         1
496962  535835   DCGSSBOY                BOYS PARTY BAG         3
496963  535835  DCGSSGIRL               GIRLS PARTY BAG         3
524271  538071   DCGS0076  SUNJAR LED NIGHT NIGHT LIGHT         1

               InvoiceDate                Price  Customer ID         Country
2377   2009-12-01 14:28:00                 0.83          NaN  United Kingdom
2378   2009-12-01 14:28:00                 8.65          NaN  United Kingdom
8371   2009-12-03 14:39:00                17.35          NaN  United Kingdom
8372   2009-12-03 14:39:00                 0.83          NaN  United Kingdom
8373   2009-12-03 14:39:00                16.48          NaN  United Kingdom
...                    ...                  ...          ...             ...
466308 2010-11-17 09:23:00                 3.36          NaN  United Kingdom
478086 2010-11-22 11:25:00                 2.51          NaN  United Kingdom
496962 2010-11-29 09:46:00                 3.36          NaN  United Kingdom
496963 2010-11-29 09:46:00                 3.36          NaN  United Kingdom
524271 2010-12-09 14:09:00                16.13          NaN  United Kingdom

[113 rows x 8 columns]
       Invoice StockCode     Description  Quantity         InvoiceDate  \
2379    489597       DOT  DOTCOM POSTAGE         1 2009-12-01 14:28:00
2539    489600       DOT  DOTCOM POSTAGE         1 2009-12-01 14:43:00
2551    489601       DOT  DOTCOM POSTAGE         1 2009-12-01 14:44:00
2571    489602       DOT  DOTCOM POSTAGE         1 2009-12-01 14:45:00
2619    489603       DOT  DOTCOM POSTAGE         1 2009-12-01 14:46:00
...        ...       ...             ...       ...                 ...
524272  538071       DOT  DOTCOM POSTAGE         1 2010-12-09 14:09:00
524887  538148       DOT  DOTCOM POSTAGE         1 2010-12-09 16:26:00
525000  538149       DOT  DOTCOM POSTAGE         1 2010-12-09 16:27:00
525126  538153       DOT  DOTCOM POSTAGE         1 2010-12-09 16:31:00
525147  538154       DOT  DOTCOM POSTAGE         1 2010-12-09 16:35:00

                      Price  Customer ID         Country
2379                 647.19          NaN  United Kingdom
2539                  55.96          NaN  United Kingdom
2551                  68.39          NaN  United Kingdom
2571                  59.35          NaN  United Kingdom
2619                  42.39          NaN  United Kingdom
...                     ...          ...             ...
524272               885.94          NaN  United Kingdom
524887               547.32          NaN  United Kingdom
525000               620.68          NaN  United Kingdom
525126               822.94          NaN  United Kingdom
525147                85.79          NaN  United Kingdom

[736 rows x 8 columns]
        Invoice StockCode Description  Quantity         InvoiceDate  \
2697     489609         M      Manual         1 2009-12-01 14:50:00
3053    C489651         M      Manual        -1 2009-12-01 16:48:00
5897    C489859         M      Manual        -1 2009-12-02 14:45:00
9259    C490126         M      Manual        -1 2009-12-03 18:12:00
9307    C490129         M      Manual        -1 2009-12-03 18:26:00
...         ...       ...         ...       ...                 ...
521074   537800         M      Manual        12 2010-12-08 13:08:00
521122   537804         M      Manual        12 2010-12-08 13:17:00
521124   537804         M      Manual        12 2010-12-08 13:17:00
524696  C538124         M      Manual        -4 2010-12-09 15:43:00
524776   538147         M      Manual         1 2010-12-09 16:11:00

                      Price          Customer ID         Country
2697                   4.00                  NaN  United Kingdom
3053                   5.10             17804.00  United Kingdom
5897                  69.57                  NaN  United Kingdom
9259                   5.95             15884.00  United Kingdom
9307                1998.49             15482.00  United Kingdom
...                     ...                  ...             ...
521074                 0.19             12748.00  United Kingdom
521122                 2.95             12748.00  United Kingdom
521124                 0.19             12748.00  United Kingdom
524696                 0.50             15329.00  United Kingdom
524776                15.00             13090.00  United Kingdom

[854 rows x 8 columns]
       Invoice StockCode Description  Quantity         InvoiceDate  \
9292    490127        C2    CARRIAGE         1 2009-12-03 18:13:00
14481   490541        C2    CARRIAGE         1 2009-12-07 09:25:00
14502   490542        C2    CARRIAGE         1 2009-12-07 09:42:00
19541   490998        C2    CARRIAGE         1 2009-12-08 17:24:00
22803   491160        C2    CARRIAGE         1 2009-12-10 10:29:00
...        ...       ...         ...       ...                 ...
504361  536540        C2    CARRIAGE         1 2010-12-01 14:05:00
515057  537368        C2    CARRIAGE         1 2010-12-06 12:40:00
515390  537378        C2    CARRIAGE         1 2010-12-06 13:06:00
522913  537963        C2    CARRIAGE         1 2010-12-09 11:30:00
522954  538002        C2    CARRIAGE         1 2010-12-09 11:48:00

                      Price          Customer ID          Country
9292                  50.00             14156.00             EIRE
14481                 50.00                  NaN             EIRE
14502                 50.00             14911.00             EIRE
19541                 50.00             16253.00   United Kingdom
22803                 50.00             14911.00             EIRE
...                     ...                  ...              ...
504361                50.00             14911.00             EIRE
515057                50.00             14911.00             EIRE
515390                50.00             14911.00             EIRE
522913                50.00             13369.00   United Kingdom
522954                50.00             14932.00  Channel Islands

[138 rows x 8 columns]
        Invoice     StockCode    Description  Quantity         InvoiceDate  \
18410   C490943  BANK CHARGES   Bank Charges        -1 2009-12-08 14:08:00
18466    490948  BANK CHARGES   Bank Charges         1 2009-12-08 14:29:00
33435   C492206  BANK CHARGES   Bank Charges        -1 2009-12-15 16:32:00
55948   C494438  BANK CHARGES   Bank Charges        -1 2010-01-14 12:15:00
94431    498269  BANK CHARGES   Bank Charges         1 2010-02-17 15:03:00
...         ...           ...            ...       ...                 ...
450634  C532203  BANK CHARGES   Bank Charges        -1 2010-11-11 12:31:00
455268   532637  BANK CHARGES   Bank Charges         1 2010-11-12 16:18:00
493162   535474  BANK CHARGES   Bank Charges         1 2010-11-26 13:56:00
507344   536779  BANK CHARGES   Bank Charges         1 2010-12-02 15:08:00
517373  C537572  BANK CHARGES   Bank Charges        -1 2010-12-07 12:00:00

                      Price          Customer ID         Country
18410                 15.00             16703.00  United Kingdom
18466                 15.00             16805.00  United Kingdom
33435                848.43                  NaN  United Kingdom
55948                767.99                  NaN  United Kingdom
94431                 15.00             16928.00  United Kingdom
...                     ...                  ...             ...
450634                15.00                  NaN  United Kingdom
455268                15.00             13174.00  United Kingdom
493162                15.00             16928.00  United Kingdom
507344                15.00             15823.00  United Kingdom
517373                95.38                  NaN  United Kingdom

[65 rows x 8 columns]
        Invoice StockCode              Description  Quantity  \
27994    491725   TEST001  This is a test product.        10
28251    491742   TEST001  This is a test product.         5
28254    491744   TEST001  This is a test product.         5
39398    492718   TEST001  This is a test product.         5
39411    492722   TEST002  This is a test product.         1
44614    493294   TEST002                      NaN         1
45228    493410   TEST001  This is a test product.         5
45230    493412   TEST001  This is a test product.         5
56117    494450   TEST001  This is a test product.         5
66084    495295   TEST001  This is a test product.         5
89084    497819   TEST001  This is a test product.         5
89180    497843   TEST001  This is a test product.         5
156017   504188   TEST001  This is a test product.         5
371777  C525272   TEST001  This is a test product.        -1
371778  C525273   TEST001  This is a test product.        -1
371779  C525274   TEST001  This is a test product.        -1
371780  C525275   TEST001  This is a test product.        -2

               InvoiceDate                Price          Customer ID  \
27994  2009-12-14 08:34:00                 4.50             12346.00
28251  2009-12-14 11:00:00                 4.50             12346.00
28254  2009-12-14 11:02:00                 4.50             12346.00
39398  2009-12-18 10:47:00                 4.50             12346.00
39411  2009-12-18 10:55:00                 1.00             12346.00
44614  2009-12-22 15:15:00                 0.00                  NaN
45228  2010-01-04 09:24:00                 4.50             12346.00
45230  2010-01-04 09:53:00                 4.50             12346.00
56117  2010-01-14 13:50:00                 4.50             12346.00
66084  2010-01-22 13:30:00                 4.50             12346.00
89084  2010-02-12 14:58:00                 0.00             14103.00
89180  2010-02-12 15:47:00                 0.00             14827.00
156017 2010-04-12 09:52:00                 4.50             16454.00
371777 2010-10-04 16:29:00                 4.50             16454.00
371778 2010-10-04 16:30:00                 4.50             16454.00
371779 2010-10-04 16:33:00                 4.50             12346.00
371780 2010-10-04 16:38:00                 4.50             16446.00

               Country
27994   United Kingdom
28251   United Kingdom
28254   United Kingdom
39398   United Kingdom
39411   United Kingdom
44614   United Kingdom
45228   United Kingdom
45230   United Kingdom
56117   United Kingdom
66084   United Kingdom
89084   United Kingdom
89180   United Kingdom
156017  United Kingdom
371777  United Kingdom
371778  United Kingdom
371779  United Kingdom
371780  United Kingdom
       Invoice     StockCode                         Description  Quantity  \
30620   491968  gift_0001_80                                 NaN         2
31079   491969  gift_0001_80  Dotcomgiftshop Gift Voucher Â£80.00         1
32048   491971  gift_0001_20  Dotcomgiftshop Gift Voucher Â£20.00         2
40904   492782  gift_0001_10  Dotcomgiftshop Gift Voucher Â£10.00         1
40905   492782  gift_0001_20  Dotcomgiftshop Gift Voucher Â£20.00         1
...        ...           ...                                 ...       ...
399538  527520  gift_0001_30  Dotcomgiftshop Gift Voucher Â£30.00         1
407443  528382  gift_0001_40  Dotcomgiftshop Gift Voucher Â£40.00         1
434320  530850  gift_0001_30  Dotcomgiftshop Gift Voucher Â£30.00         1
442201  531489  gift_0001_10  Dotcomgiftshop Gift Voucher Â£10.00         1
492078  535407  gift_0001_20  Dotcomgiftshop Gift Voucher Â£20.00         1

               InvoiceDate                Price  Customer ID         Country
30620  2009-12-14 17:56:00                 0.00          NaN  United Kingdom
31079  2009-12-14 17:57:00                69.56          NaN  United Kingdom
32048  2009-12-14 18:37:00                17.39          NaN  United Kingdom
40904  2009-12-18 17:06:00                 8.69          NaN  United Kingdom
40905  2009-12-18 17:06:00                17.39          NaN  United Kingdom
...                    ...                  ...          ...             ...
399538 2010-10-18 13:18:00                25.53          NaN  United Kingdom
407443 2010-10-21 18:01:00                34.04          NaN  United Kingdom
434320 2010-11-04 14:49:00                25.53          NaN  United Kingdom
442201 2010-11-08 15:02:00                 8.51          NaN  United Kingdom
492078 2010-11-26 11:20:00                17.02          NaN  United Kingdom

[67 rows x 8 columns]
        Invoice StockCode                 Description  Quantity  \
62299    494914      PADS  PADS TO MATCH ALL CUSHIONS         1
74731    496222      PADS  PADS TO MATCH ALL CUSHIONS         1
77702    496473      PADS  PADS TO MATCH ALL CUSHIONS         1
79794    496643      PADS  PADS TO MATCH ALL CUSHIONS         1
90798    497935      PADS  PADS TO MATCH ALL CUSHIONS         1
97716    498562      PADS  PADS TO MATCH ALL CUSHIONS         1
101718   499056      PADS  PADS TO MATCH ALL CUSHIONS         1
104480   499399      PADS  PADS TO MATCH ALL CUSHIONS         1
123947   501176      PADS  PADS TO MATCH ALL CUSHIONS         1
156809   504332      PADS  PADS TO MATCH ALL CUSHIONS         1
178629   506303      PADS  PADS TO MATCH ALL CUSHIONS         1
249035  C513477      PADS  PADS TO MATCH ALL CUSHIONS        -1
341826   522766      PADS  PADS TO MATCH ALL CUSHIONS         1
440930   531433      PADS  PADS TO MATCH ALL CUSHIONS         1
468280   533528      PADS  PADS TO MATCH ALL CUSHIONS         1

               InvoiceDate                Price          Customer ID  \
62299  2010-01-19 17:04:00                 0.00             16705.00
74731  2010-01-29 13:53:00                 0.00             13583.00
77702  2010-02-01 15:38:00                 0.00             17350.00
79794  2010-02-03 11:58:00                 0.00             13408.00
90798  2010-02-15 10:47:00                 0.00             13408.00
97716  2010-02-21 12:03:00                 0.00             15182.00
101718 2010-02-24 13:46:00                 0.00             13765.00
104480 2010-02-26 13:26:00                 0.00             14459.00
123947 2010-03-15 11:00:00                 0.00             14857.00
156809 2010-04-12 16:30:00                 0.00             12671.00
178629 2010-04-29 10:43:00                 0.00             14249.00
249035 2010-06-24 16:56:00                36.60             14459.00
341826 2010-09-16 13:58:00                 0.00             15182.00
440930 2010-11-08 11:54:00                 0.00             13317.00
468280 2010-11-17 15:08:00                 0.00             15750.00

               Country
62299   United Kingdom
74731   United Kingdom
77702   United Kingdom
79794   United Kingdom
90798   United Kingdom
97716   United Kingdom
101718  United Kingdom
104480  United Kingdom
123947  United Kingdom
156809         Germany
178629  United Kingdom
249035  United Kingdom
341826  United Kingdom
440930  United Kingdom
468280  United Kingdom
        Invoice StockCode                          Description  Quantity  \
70975    495732    ADJUST  Adjustment by john on 26/01/2010 16         1
70976    495733    ADJUST  Adjustment by john on 26/01/2010 16         1
70977    495735    ADJUST  Adjustment by john on 26/01/2010 16         1
70978    495734    ADJUST  Adjustment by john on 26/01/2010 16         1
70979   C495737    ADJUST  Adjustment by john on 26/01/2010 16        -1
...         ...       ...                                  ...       ...
208670  C509474    ADJUST  Adjustment by Peter on 24/05/2010 1        -1
208671  C509475    ADJUST  Adjustment by Peter on 24/05/2010 1        -1
249672   513564   ADJUST2  Adjustment by Peter on Jun 25 2010          1
249673   513566   ADJUST2  Adjustment by Peter on Jun 25 2010          1
249674   513565   ADJUST2  Adjustment by Peter on Jun 25 2010          1

               InvoiceDate                Price          Customer ID  \
70975  2010-01-26 16:20:00                96.46                  NaN
70976  2010-01-26 16:21:00                68.34             14911.00
70977  2010-01-26 16:22:00               201.56             12745.00
70978  2010-01-26 16:22:00               205.82             14911.00


# StockCode

### even through pattern is not expected as description but a lot of values seems legit
| Code | Description | Take or Leave for Clustering |
|--------------|----------------------------------------------------------------|--------------|
| POST | Represents postage | Leave |
| D | Representing Discount Value | Leave |
| DCGS | Some Quantities are negative and customer ID is null | Leave |
| DOT | Postage Charges | Leave |
| M | Manual Transaction | Leave |
| C2 | Carriage Charge | Leave |
| BANK CHARGES | Bank Charge for transactions | Leave |
| TEST | Testing Data not valid | Leave |
| gift | Gift Cards but no customer id | Leave |
| PADS | Padding | Include |
| ADJUST | Manual Accounts adjustment | Leave for now |
| m | Manual Transactions | Leave |
| S | Samples to Customers | Leave |
| B | Bank Charges | Leave |
| 47503J | Only 1 Transaction | Leave |
| C3 | Only 1 Transaction | Leave |
| SP1002 | Special request but only 3 and 1 is 0 price seems suspicious | Leave |
| AmazonFee | contains null customer ID and mostly negative quantity | Leave |

# Data Cleaning

In [53]:
cleaned_df = retail_df.copy()

In [54]:
cleaned_df["Invoice"] = cleaned_df["Invoice"].astype("str")

mask = (
    cleaned_df["Invoice"].str.match("^\\d{6}$") == True
)

cleaned_df = cleaned_df[mask]

cleaned_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.00,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.00,United Kingdom

In [31]:
cleaned_df.dropna(subset = ["Customer ID"], inplace=True)

In [32]:
cleaned_df.describe()

                  Quantity                Price          Customer ID
count            407695.00            407695.00            407695.00
mean                 13.59                 3.29             15368.50
std                  96.84                34.76              1679.80
min                   1.00                 0.00             12346.00
25%                   2.00                 1.25             13997.00
50%                   5.00                 1.95             15321.00
75%                  12.00                 3.75             16812.00
max               19152.00             10953.50             18287.00

In [34]:
len(cleaned_df[cleaned_df["Price"] == 0])

31

In [35]:
cleaned_df = cleaned_df[cleaned_df["Price"] > 0.0]

In [36]:
cleaned_df.describe()

                  Quantity                Price          Customer ID
count            407664.00            407664.00            407664.00
mean                 13.59                 3.29             15368.59
std                  96.84                34.76              1679.76
min                   1.00                 0.00             12346.00
25%                   2.00                 1.25             13997.00
50%                   5.00                 1.95             15321.00
75%                  12.00                 3.75             16812.00
max               19152.00             10953.50             18287.00

In [37]:
cleaned_df["Price"].min()

0.001

In [39]:
len(cleaned_df)/len(retail_df)

# about 0.225% rows gone

0.7758216118798541

# Feature Engineering

In [56]:
cleaned_df["SalesLineTotal"] = cleaned_df["Quantity"] * cleaned_df["Price"]

cleaned_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,SalesLineTotal
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.00,United Kingdom,5.90
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom,3.75
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom,3.75
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.00,United Kingdom,7.50
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.00,United Kingdom,3.90

In [62]:
aggregated_df = cleaned_df.groupby(by="Customer ID", as_index=False)\
    .agg(
        MonetaryValue=("SalesLineTotal", "sum"),
        Frequency=("Invoice","nunique"),
        LastInvoiceDate=("InvoiceDate", "max")
    )

aggregated_df.head(5)

           Customer ID        MonetaryValue  Frequency     LastInvoiceDate
0             12346.00               372.86         11 2010-06-28 13:53:00
1             12347.00              1323.32          2 2010-12-07 14:57:00
2             12348.00               222.16          1 2010-09-27 14:59:00
3             12349.00              2671.14          3 2010-10-28 08:23:00
4             12351.00               300.93          1 2010-11-29 15:23:00

In [64]:
max_invoice_date = aggregated_df["LastInvoiceDate"].max()

aggregated_df["Recency"] = (max_invoice_date - aggregated_df["LastInvoiceDate"]).dt.days

aggregated_df.head(5)

,Customer ID,MonetaryValue,Frequency,LastInvoiceDate,Recency
0,12346.00,372.86,11,2010-06-28 13:53:00,164
1,12347.00,1323.32,2,2010-12-07 14:57:00,2
2,12348.00,222.16,1,2010-09-27 14:59:00,73
3,12349.00,2671.14,3,2010-10-28 08:23:00,42
4,12351.00,300.93,1,2010-11-29 15:23:00,10